/*
 * header-color-green: #6ff6aa;
 * header-color-red: #ff6969;
 * header-color-orange: $ff9669;
 * header-color-gray: #5c6c7c;
 * header-color-purple: #cc66ff;
 */

* {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 40, 40, 0.9);
    color: white;
}

window#waybar.empty {
    background: transparent;
}

window#waybar.solo {
    background: rgba(40, 40, 40, 1);
}

#window {
    color: white;
    background-color: #cc66ff;
}

window#waybar.empty #window {
    background: transparent;
}

#workspaces {
    margin: 4px 4px;
    border-radius: 2em;
    background: #5c6c7c;
}

#workspaces button {
    padding: 0 4px;
    margin: 0;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    color: #6ff6aa;
}

#custom-spotify, #window, #network, #mode, #clock, #battery {
    padding: 0 8px;
    margin: 4px 4px;
    border-radius: 2em;
}

#custom-spotify {
    color: black;
    background-color: #6ff6aa;
}

#custom-spotify.paused {
    color: white;
    background-color: #5c6c7c;
}

#custom-spotify.stopped {
    color: transparent;
    background: transparent;
}

#network {
    color: black;
    background-color: #6ff6aa;
}

#mode {
    color: black;
    background: #6ff6aa;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #6ff6aa;
    color: black;
}

#battery.charging {
    color: black;
    background-color: #3a3aee;
}

#battery.warning:not(.charging) {
    background-color: #ff9669;
}

#battery.critical:not(.charging) {
    color: white;
    background-color: #ff6969;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
